@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lilita One";
  box-sizing: border-box;
}

body {
  font-family: "Lilita One";
  background-color: #ff9460;
  font-size: bold;
}

header {
  margin-left: 200px;
  background-color: #ff7a00;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 200px); /* Largura do header considerando a sidebar */
  padding: 20px;
  font-size: 36px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.sidebar {
  align-items: center;
  background-color: #ff7a00;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
}

.container_logo {
  margin-top: 20px; /* Espaçamento entre o header e o logo */
}

.logo-img {
  width: 100px;
}

.sidebar nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 20px; /* Espaçamento adicional para evitar que os botões fiquem colados ao logo */
}


main {
  padding-left: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 30px auto;
  position: relative;
}

a {
  text-decoration: none;
}

.sidebar button {
  color: black;
  font-size: 18px;
  border: none;
  width: 100px;
  height: 100px;
  background-color: #ffe8ce;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
  border-radius: 15px;
}

.sidebar button:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}

.sidebar nav {
  padding-top: 20px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.carrinho {
  width: 70px;
  max-width: 150px;
  margin-top: 30px;
}

button {
  font-size: 20px;
  color: white;
  background-color: #ff7a00;
  padding: 20px;
  padding-left: 10px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.menu-item {
  background-color: white;
  width: 300px;
  border-radius: 35px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.menu-item:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #f3efe6;
}

.img_produto {
  width: 250px;
}

.nome_produto {
  color: black;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

.valor {
  color: green !important;
  font-size: 40px;
}

p {
  color: black;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}



@media (max-width: 1920px) {

}

@media (max-width: 1440px) {
  header {
    font-size: 28px;
    padding: 16px;
}

.menu-item {
    width: 260px;
    padding: 12px;
}

.valor {
    font-size: 34px;
}

.img_produto {
    width: 230px;
}

}

@media (max-width: 1080px) {
  header {
      font-size: 24px;
      padding: 14px;
  }

  .menu-item {
      width: 240px;
      padding: 10px;
  }

  .valor {
      font-size: 30px;
  }

  .img_produto {
      width: 210px;
  }

  .sidebar button {
      width: 90px;
      height: 90px;
  }
}

@media (max-width: 480px) {

}
