@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
  margin: 0;
  font-family: 'Lilita One', cursive;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Lilita One', cursive;
  background-color: #FFA500;
  display: flex;
  font-size: bold;
}

.sidebar{
  background-color: #D96800;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 350px;
  height: 100%;
  padding: 40px 10px 30px 10px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-right: #FFA500;
  
}

.sidebar-header{
  width: 100%;
  margin-bottom: 16px;
}

.logo-img{
  width: 150px;
  margin-left: 90px;

}

.sidebar button{
  font-size: 18px;
  border: none;
  width: 100px;
  height: 100px;
  background-color: #ffce97;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
  border-radius: 15px;
}

.sidebar button:hover{
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}

.sidebar nav{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.carrinho {
  width: 70px;
  max-width: 150px;
  margin-top: 30px;
}

.category-menu {
  list-style-type: none;
  padding: 0;
}

.category-item {
  color: white;
  font-size: 24px;
  margin-bottom: 250px;
  cursor: pointer;
  transition: transform 0.3s ease;
  padding: 10px 10px 10px 10px;
  align-items: center;
}

.category-item:hover {
  transform: scale(1.05);
}


.main-content {
  width: 100%;
}


.promo-header {
  background-color: #D96800;
  color: white;
  text-align: center;
  width: 100%;
  padding: 20px;
  font-size: 36px;
  margin-bottom: 20px;
}

.promo-grid {
<<<<<<< HEAD
    width: 70%;  
    margin-left: 23%;
    display: flex; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 50px; 
    justify-items: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */ 
}
.promo-grid2{
  width: 70%;  
  margin-left: 23%;
  display: flex; 
  grid-template-columns: repeat(3, 1fr); 
  gap: 50px; 
  justify-items: center; /* Centraliza os itens horizontalmente */
  align-items: center; /* Centraliza os itens verticalmente */ 
  margin-bottom: 50px;
=======
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    justify-items: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
>>>>>>> main
}

.promo-item {
  background-color: white;
  width: 450px;
  border-radius: 35px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease;
  margin-top: 30px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2)
}

.promo-item:hover {
  transform: scale(1.050);
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #f3efe6;
}

.promo-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.nome_produto {
  color: black;
  font-size: 28px;
  font-family: cursive;
}

@media (max-width: 1920px) {


  .promo-header {
    padding: 100px;
  }

  .promo-item {
    width: 600px;
  }

  .promo-grid {
    display: flex;
    
  }
}

@media (max-width: 1440px) {

  .promo-header {
    padding: 100px;
  }

  .promo-item {
    width: 600px;
  }

  .promo-grid {
    display: flex;
    
  }
}

@media (max-width: 1080px) {
  .promo-grid {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 200px;
  }
  
  .promo-header {
    padding: 100px;
  }
  
  .promo-item {
    width: 600px;
  }
  
  .promo-grid {
    display: flex;
   
  }
}


@media (max-width: 480px) {
  
}