.aba_cadastro {
    padding-top: 5%;
}

.container {
    margin: 0 auto;
    width: 500px;
    padding: 30px;
    background-color: #8C8C8C;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6)
}

.nome_e_valor{
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
}

label {
    font-size: 18px;
}

input, select, textarea, button {
    margin-top: 5px;
    margin-bottom: 15px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6)
}

input, select, textarea {
    width: 100%;
    border-radius: 5px;
    border: none;
}

select {
    height: 27px;
}

input {
    width: 200px;
    height: 25px;
    padding: 5px;
}

textarea {
    resize: vertical; /* Permite que o usuário ajuste a altura do textarea */
}

button {
    background-color: #81B3FF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6)
}

.botao {
    text-align: center;
}

button:hover {
    background-color: #96befa;
}

