body {
    font-family: Arial, sans-serif;
    background-color: #2f00ff;
    margin: 0;
    padding: 0;
}

img {
    height: 150px;
}

.container {
    width: 600px;
    background-color: #FFA356;
    border-radius: 20px;
    font-weight: bolder;
    margin: 100px auto;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 60px;
    margin-bottom: 30px;
}

.itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

label {
    width: 100%;
    font-size: 22px;
    margin-bottom: 5px;
}

input {
    width: 450px;
    height: 50px;
    border-radius: 10px;
    border: 0.1px solid;
    margin-bottom: 15px;
    font-size: 22px;
    padding-left: 10px; 
}

button {
    background-color: #FF7A00;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: 1.8px solid;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 10px;
}

