.cabecalho_tabela {
    background-color: #3f3f3f;
    color: #ffffff;
}

table {
    width: 100%; 
    border-collapse: collapse;
    background-color: #ffffff;;
}

.check{
    width: 20px;
    margin-left: 10px;
    background-color:#e4fcff ;
    border-radius: 20px;
    padding: 3px;
    cursor: pointer;
}

th, td {
    padding: 8px;
    text-align: left;
    border-top: 1px solid;
    border-bottom: 1px solid; 
}

.tabela_pedidos th:first-child, td:first-child {
    width: 20%; /* Largura da primeira coluna */
    text-align: center;
}

.tabela_pedidos th:nth-child(2), td:nth-child(2) {
    width: 20%; /* Largura da segunda coluna */
    text-align: center;
}

.tabela_pedidos th:nth-child(3), td:nth-child(3) {
    width: 40%; /* Largura da terceira coluna (A INVISIVEL)*/
}

.tabela_pedidos th:nth-child(4), td:nth-child(4) {
    width: 20%; /* Largura da quarta coluna */
    text-align: center;
}