body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffb894;
    background-image: url('img/631a02d879b31158.png');
}

.div {
    padding-bottom: 100px;
    padding-top: 100px;
    background: linear-gradient(180deg, #ffb894 0%, #ff9460 50%, #ff6d2a 100%);
    display: flex;
    flex-direction: column;
    font-weight: 400;
    text-align: center;
    width: 100%;
    height: 100%;
}

.div-2 {
    border-color: rgba(255, 122, 0, 1);
    padding: 5px 10px 200px;
    font: 96px 'Lilita One', sans-serif;
}

@media (max-width: 991px) {
    .div-2 {
        max-width: 100%;
        font-size: 40px;
        padding: 40px 20px;
    }
}

h2 {
    font-size: 50px;
    font-family: 'Roboto' sans-serif;
}

.div-3 {
    position: relative;
}

.div-4 {
    border-radius: 150px;
    background-color: #ffff;
    align-self: center;
    margin-top: 1350px;
    height: 450px;
    width: 719px;
    color: #ff6d2a;
    font-size: 45px;
    align-content: center;
}

a{
    color: #ff6d2a;
    text-decoration: none;
}

a:hover , :visited{
    color: #ff6d2a;
}

a:active{
    color:#fc5500;
}

@media (max-width: 991px) {
    .div-4 {
        max-width: 100%;
        font-size: 40px;
        padding-bottom: 10px;
    }
}