/* Reset and Box Sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lilita One', cursive;
  background-color: #FFA500;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.header-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.header {
  background-color: #FF7A00;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
}

.logo {
  width: 70px;
  margin-left: 10px;
}

.header h1 {
  margin: 0;
  flex-grow: 1;
  text-align: center;
  color: #ffffff;
  font-size: 36px;
}

/* Navigation Styles */
.nav {
  display: flex;
  justify-content: space-around;
  background-color: #FFD700;
  padding: 10px;
  width: 100%;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: rgba(0, 0, 0, 0.7);
}
.nome_produto {
  color: white;
  font-size: 24px;
  font-family: cursive;
}
.menu{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  gap: 30px;
  margin-top: 150px;  
}
p{
  font-size: 20px;
  color: white;
  text-align: center;
  
  padding: 20px;
}
button{
  font-size: 20px;
  color: white;
  background-color: #FF7A00;
  padding: 20px;
  padding-left: 10px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
.menu-item{
  background-color: #FF9933;
  width: 390px;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease;
  margin-top: 30px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2)
}
.menu-item:hover{
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #f5ac63;
}
img{
  border-radius: 50px;
}